{% extends 'base.html.twig' %}
{% block title %}{{ program.title }} - Episode #{{ episode.number }}  Saison #{{ season.number }} {% endblock %}

{% block body %}

<div>
  <img src="{{program.poster}}" alt="{{ program.title }} poster">
  <div>
    <h1>Episode n°{{ episode.number}} {{ episode.title }}</h1>
    <p>{{ episode.synopsis }}</p>
    <p>Catégorie : {{ program.category.name }}</p>
  </div>
</div>

<a href="{{ path('program_season_show', {'program': program.id, 'season': season.id })}}">
Retour à la saison {{ season.number }}
</a>

{% endblock %}